{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load sortable_column %}
{% block content %}
<div class="container">
    <div class="section-heading">
        <h2>Function List</h2>
        <br>
        <span>
            {% if add_function_access %}<a href="/org/function_new">Add Function</a><br>{% endif %}
        </span>

    </div>
</div>
<br>
<div class="container">
    <span>
    <form action="{% url 'function' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    </span>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr class="table-striped">
                {% sortable_column request=request property="function_id" title="Function ID" %}
                {% sortable_column request=request property="name" title="Function Name" %}
                {% sortable_column request=request property="function_manager" title="Function Manager" %}
                {% sortable_column request=request property="description" title="Function Description" %}
            </tr>
        </thead>
        <tbody>
            {% for function in function_list %}
            <tr>
                <td><a href="/org/function/{{function.id}}">{{function.function_id}}</a></td>
                <td>{{function.name}}</td>
                <td>{{function.manager.employee_name}}</td>
                <td>{{function.description}}</td>
            <tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}